# Deployment Cleanup
not_for_deployment/
hardware_ml_modell/
data/
saved_models/
*.csv
model/innowah_synthetic_data.csv

# Environment
__pycache__/
*.pyc
env/
venv/
.venv/
.DS_Store
*.log

# git commit -m "ML MODEL PARAMETERS UPDATED"